body {
    background-color: greenyellow;
    text-align: center;
}

.p {
    color: blue;
}

/* #title {
    text-align: center;
    grid-area: title;
    background-color: lightblue;
} */

#ikyk {
    grid-area: ikyk;
    text-align: center;
}

#cast {
    grid-area: cast;
    font-size: large;
}

#Characters {
    grid-area: char;
    font-size: large;
}

#intro {
    font-display: block;
    grid-area: intro;
    text-align: center;
}

#logo {
    grid-area: logo;
    height: 100px;
}

#bump {
    grid-area: bump;
    /* height: 250px;
    width: 350px; */
}

#four {
    grid-area: four;
    object-fit:scale-down 50%;
}

#blurb {
    grid-area: blur;
    text-align: center;

}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "cast logo char"
    "intro intro four "
    "intro intro four "
    "bump ikyk ikyk"
    "blur blur blur"
    ;
    border: 2px solid black;
}


h1 {
    text-align: center;
    margin-bottom: 40px;
}


