body {
    background-color: greenyellow;
    text-align: center;
}

#title {
    text-align: center;
    grid-area: title;
    background-color: lightblue;
}



#intro {
    font-display: block;
    grid-area: intro;
    text-align: center;
}

#bump {
    grid-area: bump;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "Title Title Title"
    "cast cast cast"
    "intro bump bump"
    "intro bump bump"
    "intro bump bump"
    ;
}

